{#
/**
 * The delete job offer view
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco 
 */
#}
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Delete a job offer - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Delete a job offer</h2>

    <p>
        Are you sure you want to remove this job offer '{{ advert.title }}'?
    </p>

    {# Put the id of the job offer in the route of the form action #}
    <form action="{{ path('oc_platform_delete', {'id': advert.id}) }}" method="post">
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to job offer
        </a>
        {# Not use form builder for this button - Manual code #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Generate the CSRF field #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
