{#
/**
 * The job offers view - Frontend
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco 
 */
#}
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Job offers details - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    
    {% if advert.image is not null %}
        <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
    {% endif %}

    <h2>{{ advert.title }}</h2>
    <i>By {{ advert.author }}, the {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>
    
    <h3>Applications</h3>
    {% for application in listApplications %}
        <p>
            Application of <strong>{{ application.author }}</strong>, the {{ application.date|date('d/m/Y') }}<br>
            {{ application.content }}
        </p>  
       {% else %}
           <p>Not yet application</p>
    {% endfor %}

    <p>
        <a href="{{ path('oc_core_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to to the list
        </a>
        <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Edit job offer
        </a>
        <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Delete job offer
        </a>
    </p>

{% endblock %}
