{#
/**
 * The job offers view - Frontend
 *
 * @author          Christophe Malo
 * @version         1.0.0
 * @copyright       OpenClassrooms - Alexandre Bacco 
 */
#}
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Job offers details - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    
    {% if advert.image is not null %}
        <img src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}">
    {% endif %}

    <h2>{{ advert.title }}</h2>
    <i>By {{ advert.author }}, the {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>
    
    {% if not advert.categories.empty %}
        <h3>Categories</h3>
        <p>
            This job offer is published in the following categories:
            {% for category in advert.categories %}
                {{ category.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    
    {% if listAdvertSkills|length > 0 %}
        <h3>Skills</h3>
        <div>
            This job requires the following skills:
            <ul>
                {% for advertSkill in listAdvertSkills %}
                    <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <p>
        <a href="{{ path('oc_core_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back to to the list
        </a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Edit job offer
            </a>
            <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Delete job offer
            </a>
        {% endif %}
    </p>

{% endblock %}
